{% extends "librarian_base.html"%}

{% block title%} Error{% endblock%}
{% block content%}
<div class="revoke">
    <div>Book is with {{book.user_email}}</div>
    <a href="/librarian/revoke/book/{{book.book_id}}" class="btn btn-primary" role="button">Revoke</a>
    <a href="/librarian/dashboard" class="btn btn-primary" role="button">Return</a>
</div>
{% endblock%}

{% block style%}
<style>
    .revoke{
        border-style: solid;
        border-radius: 25px;
        padding: 20px; 
        margin-top: 10px;
        width: 20%;
        background-color:#f8f8eb;
    }

</style>
{% endblock%}