{% extends "librarian_base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content%}
<div class="requests">
    <h3>
        Book Requests
    </h3>
    {% for request in requests %}
    {% if request.pending %}
        <div class="request">
            User ID: {{request.user_id}} <br>
            Book ID: {{request.book_id}} <br>
            <a href="/librarian/dashboard/processrequest/{{request.request_id}}/0" class = "btn btn-primary" role = "button">Accept</a>
            <a href="/librarian/dashboard/processrequest/{{request.request_id}}/1" class = "btn btn-primary" role = "button">Reject</a>
        
        </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block style%}
<style>
    .header{
        border-style: solid;
        background-color: forestgreen;
        color: whitesmoke;
    }
</style>    


{% endblock %}