{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class= "row header">
    <div class="col-15">
        <h1 class="hh">Libra - Library For All</h1> 
    </div>
</div>

<div class="login">
    <h1>Login</h1>
    <form class="mt5" action="/login/librarian" method="POST" id="librarian_login_form">
        <div>
            <label class="form-label">User Name
                <input class="form-control" type="text" name="uname" value="{{user_name}}" required />
            </label>
        </div>
        {% if udne %}
        <label class="form-label">User Name not Found</label>
        {% endif %}
        <div>
            <label class="form-label">Password
                <input class="form-control" type="password" name="upass" required />
            </label>
            {% if wrong_pass %}
            <div class="signup">Wrong Password!! </div>
            {% endif %}
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}
{% block style%}
<style>
    .hh{
        margin: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-top: 40px;
        text-align: center;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px;
        margin-left: 720px;
        border-style: solid;
        width: 20%;
        padding: 50px;
        padding-top: 10px;
        background-color:#f8f8eb;
    }
    .header{
        border-style: solid;
        background-color:black;
        border-color: black;
        color:white;
        display: flex;
        text-align: center;
    }
</style>
{% endblock %}

</html>