{% extends "librarian_base.html"%}

{% block content %}
<div class="add_books">
    <h3>Add Book</h3>
    <form class="mt5" action="/librarian/add/book" method = "post" id="librarian_add_book" enctype="multipart/form-data">
        <div>
            <label class="form-label">Book Name
                <input class="form-control" type="text" name="name" value="" required />
            </label>
        </div>
        <div>
            <label class="form-label">Authors
                <input class="form-control" type="text" name="authors" value="" required />
            </label>
        </div>
        <div>
            <label class="form-label">Section ID
                <input class="form-control" type="text" name="section_id" value="" />
            </label>
        </div>
        <div>
            <label class="form-label">File
                <input class="form-control" type="file" name="content" required />
            </label>
        </div>
        <div>
            <input class="btn btn-primary"type="submit" value = "Submit"/>
        </div>
    </form>
</div>

<div class="add_section">
    <h3>
        Add Section
    </h3>
    <form class="mt5" action="/librarian/add/section" method = "post" id="librarian_add_section">
        <div>
            <label class="form-label">Section Name
                <input class="form-control" type="text" name="name" value="" required />
            </label>
        </div>
        <div>    
            </label>
            <label class="form-label">Description
                <input class="form-control" type="text" name="description" value="" required />
            </label>
        </div>
        <div>
            <input class="btn btn-primary"type="submit" value = "Submit"/>
        </div>
    </form>
</div>
{% endblock %}
{% block style%}
<style>
    .add_books{
        
        overflow-y: auto;
        height: 400px;
        
    }
    .add_section{
        overflow-y: auto;
        height: 400px;
    }

</style>
{% endblock%}