{% extends "librarian_base.html" %}
{% block title %}Requests{% endblock %}

{% block content%}
<div class="requests">
    {% if not requests %}
    <h3>
        No Pending Requests
    </h3>
    {% else %}
    <h3>
        Book Requests
    </h3>
    {% endif%}
    {% for request in requests %}
        <div class="request">
            User ID: {{request.user_id}} <br>
            Book ID: {{request.book_id}} <br>
            <a href="/librarian/dashboard/processrequest/{{request.request_id}}/0" class = "btn btn-primary" role = "button">Accept</a>
            <a href="/librarian/dashboard/processrequest/{{request.request_id}}/1" class = "btn btn-primary" role = "button">Reject</a>
        
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block style%}
<style>
    .header{
        border-style: solid;
        background-color: forestgreen;
        color: whitesmoke;
    }
</style>    


{% endblock %}