{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class= "row header">
    <div class="col-15">
        <h1 class="hh">Libra - Library For All</h1> 
    </div>
</div>
<div class="login">
    <h1>
        Choose Login
    </h1>
    <form class="mt-5" action="{{librarian_url}}"" id=" root_form">
        <button class="btn btn-info" type="submit">Librarian Login</button>
    </form>
    <form action="{{user_url}}">
        <button class="btn btn-info" type="submit">User Login</button>
    </form>
</div>

{% endblock %}
{% block style %}
<style>
    .header{
        border-style: solid;
        background-color:black;
        border-color: black;
        color:white;
        display: flex;
        text-align: center;
    }
    .hh{
        margin: 10px;
    }
    h1 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 0px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px;
        margin-left: 720px;
        border-style: solid;
        width: 20%;
        padding: 50px;
        padding-top: 10px;
        background-color:#f8f8eb;
    }
    .btn-info{
        margin: 10px;
    }
</style>
{% endblock %}