{% extends "user_base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile">
    <div class="items" >
        <h3>Profile Name : {{user.nick_name}}</h3>
    </div>
    <div class="items">
        <h5>Full Name : {{user.first_name}} {%if user.lastname%}{{user.last_name}}{%endif%}</h5>
    </div>
    <div class="items">
        <h5>Email : {{user.email}}</h5>
    </div>
    <div class="items">
        <h5>Contact No : {{user.phone_number}}</h5>
    </div>
    {% if user.about %}
    <div class="about items">
        <h5>About :<br>{{user.about}}</h5>
    </div>
    {% endif %}
    <div class="edit-button">
    <a style="text-align: right;" href="/user/profile/edit" class="btn btn-primary" role="button">Edit</a>
    </div>
    <div class="read-books">
        
    </div>
</div>
{% endblock %}
{% block style%}
<style>
    .profile{
        margin: 10px 0px 10px;
        border-style: solid;
        border-radius: 25px;
    }
    .items{
        padding-left: 20px;
    
    }
    .edit-button{
        padding-left: 20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .about{
        border-style: solid;
        border-left: 20px;
        border-right:20px;
    }
</style>
{% endblock %}