{% extends "user_base.html"%}

{% block title%}
Home
{% endblock %}

{% block content %}
{% if sections %}
<div class="row">
    <div class="col-9">
        <h3>
            Search Result for {{key}} on sections
        </h3>
    </div>
    <div class="col-2">
        <form action="/user/home/search/sections" method ="post">
            <span class="inline">
            <input class="form-label" type="search" placeholder="search" name="key"/>
            <input class="btn btn-primary"type="submit" value="ok"/>
            </span>
        </form>
    </div>
</div>
<div class="all_sections">
    {% for section in sections %}
    {% if section.section_id!=0%}
    <div class="section">
        <h5>
            Section Name : {{section.name}}<br>
            Description : {{section.description}}
        </h5>
        {% for book in section.books %}
            <div class="book">
                Name: {{book.name}} <br>
                Author: {{book.authors}} <br>
                <a href="/user/requestbook/{{book.book_id}}" class = "btn btn-primary" role = "button">Request</a>
            </div>
            <br>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}

{% else %}
<div class="row">
    <div class="col-9">
        <h3>
            Search result for {{key}} on books
        </h3>
    </div>
    <div class="col-2">
        <form action="/user/home/search/books" method ="post">
            <span class="inline">
            <input class="form-label" type="search" placeholder="search" name="key"/>
            <input class="btn btn-primary"type="submit" value="ok"/>
            </span>
        </form>
    </div>
</div>
<div class="all_books">
    {% for book in books %}
    <div class="book">
        Name: {{book.name}} <br>
        Author: {{book.authors}} <br>
        <a href="/user/requestbook/{{book.book_id}}" class = "btn btn-primary" role = "button">Request</a>
    </div>
    <br>
    {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block style%}
<style>
    .header1{
        display: block;
    }
    .profile{
        text-align:end;
        align-items: flex-end;
    }
    .all_books{
        overflow-y: auto;
        padding-left: 10px;

    }
    .book{
        padding-left: 10px;
        padding-bottom: 5px;
        border-style: solid;
        border-color: dimgrey;
    }
    .section{
        border-style: solid;
        padding-left: 10px;
        padding-right: 10px;
    }
    .all_sections{
        overflow-y: auto;
    }
    .search{
        display: inline;
    }
    .inline{
        display: inline-flex;
        gap:10px;
    }
</style>
{% endblock %}