{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<h1>Login</h1>
<div>
    <form class="mt5" action="/login/user" method="POST" id="user_login_form">
        <div>
            <label class="form-label">Email
                <input class="form-control" type="email" name="uemail" value="{{email}}" required />
            </label>
        </div>
        {% if udne %}
        <label class="form-label">Email is not registered</label>
        {% endif %}
        <div>
            <label class="form-label">Password
                <input class="form-control" type="password" name="upass" required />
            </label>
            {% if wrong_pass %}
            <div class="signup">Wrong Password!! </div>
            {% endif %}
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
        <label class="form-label">
            New User? <a href="{{create_account_url}}">Sign Up!</a>
        </label>
    </form>
</div>
{% endblock %}
{% block style%}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-top: 40px;
        text-align: center;
    }
</style>
{% endblock %}

</html>