<!DOCTYPE html>

<head>
    <title>Libra</title>
</head>

<body>
    <form action="/signup/user" method="POST" id="create_user_form">
        <div>
            <label>First Name</label>
            <input type="text" name="fname" required />
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lname" />
        </div>
        <div>
            <label>Phone Number</label>
            <input type="number" name="pnum" required />
        </div>
        <div>
            <label>Email Address</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>User name</label>
            <input type="text" name="user_name" required />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="user_pass" required />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>

    </form>
</body>

</html>