{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h1>
    Sign Up
</h1>
<form class="mt5" action="/signup/user" method="POST" id="create_user_form">

    {% if email %}
    <label class="form-label">Email is already registered</label>
    {% endif %}
    <div>
        <label class="form-label">First Name</label>
        <input class="form-control" type="text" name="fname" value="{{first_name}}" required />
    </div>
    <div>
        <label class="form-label">Last Name</label>
        <input class="form-control" type="text" name="lname" value="{{last_name}}" />
    </div>
    <div>
        <label class="form-label">Phone Number</label>
        <input class="form-control" type="number" name="pnum" required value="{{phone_number}}" />
    </div>
    <div>
        <label class="form-label">Email Address</label>
        <input class="form-control" type="email" name="email" required />
    </div>
    <div>
        <label class="form-label">Nick Name</label>
        <input class="form-control" type="text" name="nick_name" required value="{{nick_name}}" />
    </div>
    <div>
        <label class="form-label">Password</label>
        <input class="form-control" pattern=".{8,}" type="password" name="user_pass" required
            title="Atleast 8 characters" />
    </div>
    <br>
    <div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>

</form>
{% endblock %}
{% block style %}
<style>
    h1 {
        margin-top: 40px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    
</style>
{% endblock %}